<br/><br/>
<div class="container">

  <div class="alert alert-warning alert-dismissible fade show" *ngIf="alertMsg" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="close" (click)="close()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="card">
  <div class="card-header">
    Edit
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control"  name="name" required value={{products.name}} placeholder="First name" >
        </div>
        <div class="col">
          <input type="text" class="form-control"  name="lastName" required value={{products.lastName}} placeholder="Last name" >
        </div>
      </div>
      <br/>
       <div class="form-group">
        <input type="text" class="form-control"  name="mobileNo" required value={{products.mobileNo}} id="inputAddress" placeholder="Mobile Number" >
      </div>
       <div class="form-group">
        <input type="text" class="form-control" name="address" required value={{products.address}} id="inputAddress" placeholder="Address" >
      </div>
      <button type="submit" (click)="Update()"  class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
